body {
  background-color: lightblue
}

img {
  text-align: center;
  border: 2px solid #grey;
}
h1 {
  font-family: fantasy, sans-serif;
  text-align: center;
  color: black;
  font-size: 30px;
  border: 2px solid #grey;
}

p {
  font-family: fantasy, sans-serif;
  font-size: 10px;
}
